<div class="main-container">
  <div class="top-row">
    <div class="main-display">
      <div style="width: 100%; height: 100%" #glmain></div>
    </div>
    <div class="keyhole-display-params">
      <div class="flex-me keyhole-header">
        <div class="flex-me">
          <button mat-raised-button 
          (click)="this.beginAnimation()"
          class="keyhole-timeline-button">Begin</button>
        </div>
        <div class="flex-me">
          <button mat-raised-button 
          (click)="this.stopAnimation()"
          class="keyhole-timeline-button">Stop</button>
        </div>
      </div>
      <div style="flex-direction: column">
        <form [formGroup]="this.fgSat">
          <div class="flex-me">
            <mat-form-field>
              <mat-label>Altitude (km)</mat-label>
              <input matInput placeholder="eg: 200" formControlName="satAlt">
            </mat-form-field>
          </div>
          <div class="flex-me">
            <mat-form-field>
              <mat-label>Velocity (m/s)</mat-label>
              <input matInput placeholder="eg: 7900" formControlName="satVel">
            </mat-form-field>
          </div>
          <div class="flex-me">
            <mat-form-field>
              <input matInput [ngxMatColorPicker]="picker" formControlName="colorCtr">
              <ngx-mat-color-toggle matSuffix [for]="picker"></ngx-mat-color-toggle>
              <ngx-mat-color-picker #picker [color]="satColor"></ngx-mat-color-picker>
            </mat-form-field>
          </div>
          <div class="flex-me">
            <button type="button" mat-raised-button (click)="this.addSat()">Add Sat</button>
          </div>
        </form>
      </div>
    </div>
  </div>
  <div class="bottom-row">
    <div class="main-display-params">
      Main display params
    </div>
    <div class="keyhole-display">
      Keyhole display
    </div>
  </div>
</div>
