.main-container {
  background-color: black;
  width: 100vw;
  height: 100vh;
  display: flex;
  flex-direction: column;
}

.flex-me {
  display: flex;
}

.top-row {
  width: 100%;
  height: 80%;
  display: flex;
  flex-direction: row;
}

.bottom-row {
  width: 100%;
  height: 20%;
  display: flex;
  flex-direction: row;
}

.main-display {
  background-color: red;
  width: 80%;
  height: 100%;
}

.keyhole-display-params {
  background-color: magenta;
  width: 20%;
  height: 100%;
  display: block;
  margin-bottom: 2em;
}

.keyhole-header {
  flex-direction: row;
}

.keyhole-timeline-button {
  margin-left: 1em;
  margin-right: 0.5em;
  height: 3em;
}

.main-display-params {
  background-color: lime;
  width: 80%;
  height: 100%;
}

.keyhole-display {
  background-color: blue;
  width: 20%;
  height: 100%;
}
